h1 {color:; text-align: center;}
h2 {background-image:123.png;}
div0 {color:purple;}
div1 { color:darkorange;
    background-color: darkorchid;
    height: 150px;
    width: 400px;
    border: 50px; solid
}
h2 {text-align: center; background-color:hotpink; color:purple; border }
img {border-radius: 70px;}
div2 
{
    color:hotpink; background-color: khaki;
height: 500px; 
width: 400;
border: 50;
}

div3 {color:rgb(26, 73, 175);background-color: lightblue;}
div4 {color:lightsalmon;}
div5 {color:tomato;}
div6 {color:greenyellow;}
h1 {background-color:purple;}
jatt {background-color:lightskyblue;}
div class="9" { style="inline-image"
    
}
p{border: rgb(61, 42, 165) ;}